name: Deploy
on:
  push:
    branches: [main]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
      - name: Setup Node.js environment
        uses: actions/setup-node@main
        with:
          node-version: '15.x'
      - name: Set up Python 3.9
        uses: actions/setup-python@v1
        with:
          python-version: 3.9
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install PyYAML jsonschema icalendar xlin
      - name: Assemble yml files
        run: |
          mkdir -p public/conference && cd public/conference
          python ../../scripts/merge.py ../../conference --exclude "types.yml" > allconf.yml
          python ../../scripts/merge.py ../../accept_rates > allacc.yml
          cp ../../conference/types.yml .
          cd ../..
      - name: Generate iCal files
        run: |
          python extensions/cli/ccfddl/convert_to_ical.py
          mv *.ics public/conference/
      - uses: actions/checkout@v4 # repo checkout
      # Install Rust Nightly Toolchain, with Clippy & Rustfmt
      - name: Install nightly Rust
        uses: dtolnay/rust-toolchain@nightly
        with:
          components: clippy, rustfmt
      - name: Add WASM target
        run: rustup target add wasm32-unknown-unknown
      - name: Download and install Trunk binary
        run: wget -qO- https://github.com/trunk-rs/trunk/releases/download/v0.18.4/trunk-x86_64-unknown-linux-gnu.tar.gz | tar -xzf-
      - name: Build with Trunk
        # "${GITHUB_REPOSITORY#*/}" evaluates into the name of the repository
        # using --public-url something will allow trunk to modify all the href paths like from favicon.ico to repo_name/favicon.ico .
        # this is necessary for github pages where the site is deployed to username.github.io/repo_name and all files must be requested
        # relatively as favicon.ico. if we skip public-url option, the href paths will instead request username.github.io/favicon.ico which
        # will obviously return error 404 not found.
        run: ./trunk build --release --public-url "${GITHUB_REPOSITORY#*/}"
      - name: Config Git
        run: |
          git config --global user.email "me@4f5da2.com"
          git config --global user.name "0x4f5da2"
      - name: Deploy
        run: |
          cd dist
          echo 'ccfddl.com' > CNAME
          git init
          git add --all
          git commit -m "Site Update:`TZ=':Asia/Shanghai' date +' %Y-%m-%d %H:%m:%S'`"
          git push --force https://${{ secrets.ACCESS_TOKEN }}@github.com/ccfddl/ccfddl.github.io.git master:page
